// out: "../../style/profMainPage.css", compress: true, sourceMap: false

@Standart: #E637B7;

header {
    height: 100vh;
    display: flex;
    justify-content: start;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
}

.header_list {
    width: 100px;
    height: 100%;
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &-li {
        transform: rotate(90deg);
        color: rgba(255, 255, 255, 0.50);
        font-size: 25px;
        font-weight: 400;
        line-height: normal;
    }
}

.container_previe_prof_club {
    position: relative;

    & > .shadow_background {
        &.prof {
            background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, #35005F 100%);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
        }
    
        &.bauman {
            background: linear-gradient(270deg, rgba(98, 0, 175, 0.00) 0%, rgba(30, 0, 68, 0.90) 100%);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
        }
    }
}

.img_club_prof {
    width: 100%;
}

.contant_club_about {
    position: absolute;
    top: 25%;
    left: 20%;
    z-index: 2;
}

.block_logo_title {
    display: flex;
    align-items: center;

    & > .img_logo_club_about {
        object-fit: cover;
    }
}

.title_club_name {
    display: flex;
    flex-direction: column;
    margin-left: 50px;

    & > h1 {
        color: #FFF;
        font-size: 100px;
        font-style: italic;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
    }

    & > span {
        color: #FFF;
        font-size: 45px;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }
}

.block_about_club_time_addrees {
    display: flex;
    flex-direction: column;
    margin-top: 60px;

    & > span {
        display: flex;
        align-items: center;
        color: #FFF;
        font-size: 34px;    
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        &:before {
            content: '';
            display: inline-block;
            border-top: transparent 5px solid;
            border-bottom: transparent 5px solid;
            border-left: #FFF 5px solid;
            margin-right: 15px;
        }
    }
}

.btn_club_about_book {
    margin-top: 60px;
    color: #E73AB8;
    font-size: 23px;
    font-weight: 600;
    line-height: normal;
    background-color: #FFF;
    padding: 20px 40px;
    border-radius: 10px;
}

.container_zones_info {
    position: relative;
    width: 100%;
    height: 1080px;
}

.block_list_card_zone_club {
    display: grid;

    &.bauman {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin: 60px 50px;
    }

    &.prof {
        grid-template-columns: repeat(3, 1fr);
        gap: 70px;
        margin: 60px 100px;
    }
}

.background_zones {
    width: 100%;
    height: 1080px;
    position: absolute;
    z-index: 1;

    & > #background_zone_react {
        width: inherit;
        height: inherit;
    }
}

.contant_card_zone_club {
    position: absolute;
    z-index: 2;
    left: 9%;
    right: 9%;
    top: 10%;
    border: 5px solid #FFF;
    border-radius: 50px;
}

.card_zone_club-title {
    color: #FFF;
    font-size: 43px;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
}

.block_card_zone_club {
    border-radius: 30px;
    background: #1F1F1F;
    padding: 15px;

    &-border {
        border-radius: 15px;
        border: 3px solid rgba(255, 255, 255, 0.05);
    }

    &-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;

        & > .card_zone-config {
            color: rgba(255, 255, 255, 0.30);
            font-size: 15px;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 10px;
        }

        & > .card_zone-title {
            color: #FFF;
            font-size: 40px;
            font-style: italic;
            font-weight: 900;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        & > .card_zone-border {
            padding: 20px;
            border-radius: 10px;

            &.standart {
                border: 3px solid #E637B7;
            }

            &.standart_plus {
                border: 3px solid #149EF2;
            }
            
            &.console {
                border: 3px solid #142AF2;
            }

            &.boot_camp {
                border: 3px solid #FF003D;
            }
        }

        & > .card_zone-name {
            color: #FFF;
            font-size: 30px;
            font-weight: 400;
            line-height: normal;
            margin: 15px 0 10px;
        }

        & > .card_zone-btn {
            font-size: 20px;
            font-weight: 400;
            line-height: normal;

            &.standart {
                color:#E637B7;
            }

            &.standart_plus {
                color:#149EF2;
            }
            
            &.console {
                color:#142AF2;
            }

            &.boot_camp {
                color:#FF003D;
            }
        }
    }
}
